# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
Debug/Targa View.exe
Release/Targa View.exe
Debug_DL/Targa View.exe
Release/Targa View Release.exe

# Others
*.vs
*.iobj
*.pdb
*.ipdb
*.log
*.ilk
*.aps
*.tlog
*.idb
*.res
*.exp
*.bsc
*.bak

Debug
Debug_DL
Release_DLL/

Imagem View/Debug
Imagem View/Debug_DL
Imagem View/Release
Imagem View/Release_DLL/

Imagem View/Release/Targa View.vcxproj.FileListAbsolute.txt
Imagem View/Release_DLL/Targa View.vcxproj.FileListAbsolute.txt
Targa View/Release/Targa View.vcxproj.FileListAbsolute.txt
