# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
Debug/Targa View.exe

# Others
*.vs
*.iobj
*.pdb
*.ipdb
*.log
*.ilk
*.aps
*.tlog
*.idb
*.res
Debug
Targa View/Release/Targa View.vcxproj.FileListAbsolute.txt
Debug_DL/Targa View_Debug_DL.exe
Debug_DL/Targa View Debug_DL.exe
Debug_DL/Imagem View Debug_DL.exe
Imagem View/Debug_DL/Targa View.vcxproj.FileListAbsolute.txt
*.bsc
*.bak
Release_DLL/Imagem View Release_DLL.exe
Release_DLL/Targa View Release_DLL.exe
*.exp
Release/Targa View.exe
Release_DLL/Targa View.exe
Release/Targa View Release.exe
Imagem View/Release/Targa View.vcxproj.FileListAbsolute.txt
Imagem View/Release_DLL/Targa View.vcxproj.FileListAbsolute.txt
Debug_DL/Targa View.exe
